@charset "UTF-8";

/*Todas as configurações de media */
/*Pesquisar typical device brakpoints
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: 992px ate 1200px
Grandes Telas: acima de 1200px
*/

/* essas medias de pequenas telas embaixo será ignorado porque ja foram feitas no style.css

@media screen and (max-width:600px) { /*pequenas telas

}

@media screen and (min-width:600px) and /*celular(max-width:768px) {

}
*/

@media print {
    * {
        font-family: 'Courier New', Courier, monospace;
    }
    body {
        background-image: url(../imagens/back-print.jpg);
    }

    main {
        border: 2px solid black;
        width: 90vw;
    }

    main h1 {
        text-shadow: none;
        color: black;
        
    }

    img#phone { display: none;}
    img#print {display: block;}
    img#tablet {display: none;}
    img#pc {display: none;}
    img#tv {display: none;}

    main::after {
        content: 'Essa impressão foi feita atraves do site www.cursoemvideo.com';
        text-decoration: overline;
    }




}

@media screen and (min-width: 768px) and /*tablet*/(max-width: 992px) {
    
    body { 
        background-image: url(../imagens/back-tablet.jpg);
    }
    img#phone { display: none;}
    img#print {display: none;}
    img#tablet {display: block;}
    img#pc {display: none;}
    img#tv {display: none;}

}

@media screen and (min-width:992px) and /*desktop*/(max-width:1200px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone { display: none;}
    img#print {display: none;}
    img#tablet {display: none;}
    img#pc {display: block;}
    img#tv {display: none;}

}

@media screen and (min-width:1200px){ /*Grandes telas*/
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    img#phone { display: none;}
    img#print {display: none;}
    img#tablet {display: none;}
    img#pc {display: none;}
    img#tv {display: block;}

}

